In [ ]:
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера.
Определите какому фильму было выставлено больше всего оценок 5.0.

In [2]:
import pandas as pd

In [11]:
data_rat = pd.read_csv('ratings.csv')
filtered_data = data_rat[ (data_rat['rating']==5.0)]
filtered_data.head()
best = filtered_data['movieId'].value_counts().head(10)
k = best.index[0]
print(k)

318

In [12]:
data_mov = pd.read_csv('movies.csv')
filtered_data_mov = data_mov[(data_mov['movieId']==k)]
filtered_data_mov['title'].head(1)

277    Shawshank Redemption, The (1994)
Name: title, dtype: object

In [ ]:
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
категорий 4, 12 и 21 за период с 2005 по 2010 года.
Не учитывайте в расчетах отрицательные значения quantity.

In [7]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [9]:
filtered_c = power[(power['country']== 'Estonia') | (power['country']== 'Latvia') | (power['country']=='Lithuania')]
filtered_cat = filtered_c[(filtered_c['category'] == 4) | (filtered_c['category'] == 12) |(filtered_c['category'] == 21)]
filt_power = filtered_cat[(filtered_cat['year'] >= 2005) & (filtered_cat['year'] <= 2010) & (filtered_cat['quantity'] >= 0)]
spend_power = filt_power['quantity'].sum()
print(spend_power )

240580.0

In [ ]:
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [20]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'
df = pd.read_html(page_url, attrs = {'class': "quote_list"}, encoding='utf-8')
df[:5]

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB       842892      -               832679
 1          NaN            EUR/RUB       706520      -               695550
 2          NaN            USD/RUB       653335      -               643045
 3          NaN            JPY/RUB        05867      -                05768
 4          NaN            CNY/RUB        92907      -                91508
 5          NaN            CHF/RUB       665748      -               656497
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        10816      -                10829
 8          NaN            EUR/GBP        08383      -                08364
 9          NaN            EUR/JPY      1204200      -              1207400
 10         NaN            EUR/CHF        10611      -                10609
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        09247      -                09235
 13         NaN            USD/GBP        07751      -                07723
 14         NaN            USD/JPY      1113370      -              1114800
 15         NaN            USD/CHF        09811      -                09795
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        08300      -                08300
 18         NaN            JPY/GBP        00070      -                00069
 19         NaN            JPY/USD        00090      -                00090
 20         NaN    JPY/CHF (100:1)        08800      -                08800
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        12902      -                12949
 23         NaN            GBP/JPY      1436680      -              1443619
 24         NaN            GBP/EUR        11927      -                11955
 25         NaN            GBP/CHF        12658      -                12682
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12658      -                12682
 28         NaN            EUR/CHF        10611      -                10609
 29         NaN    JPY/CHF (100:1)        08800      -                08800
 30         NaN            USD/CHF        09811      -                09795
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       264710      -               265046
 33         NaN            USD/UAH       244728      -               244767
 34         NaN            CHF/UAH       249418      -               249888
 35         NaN            GBP/UAH       315797      -               316950

           %  Абсолютное значение     Время
 0    1,23 %                10213  13:47:00
 1    1,58 %                10970  13:47:00
 2    1,60 %                10290  13:47:00
 3    1,72 %                00099  13:47:00
 4    1,53 %                01399  13:47:00
 5    1,41 %                09251  13:47:00
 6         %  Абсолютное значение     Время
 7   -0,12 %               -00013  13:47:00
 8    0,22 %                00019  13:47:00
 9   -0,27 %               -03200  13:47:00
 10   0,01 %                00002  13:47:00
 11        %  Абсолютное значение     Время
 12   0,13 %                00012  13:47:00
 13   0,36 %                00028  13:47:00
 14  -0,13 %               -01430  13:47:00
 15   0,16 %                00016  13:47:00
 16        %  Абсолютное значение     Время
 17   0,24 %                00000  13:47:00
 18   0,48 %                00000  13:47:00
 19   0,13 %                00000  13:47:00
 20   0,28 %                00000  13:47:00
 21        %  Абсолютное значение     Время
 22  -0,36 %               -00046  13:47:00
 23  -0,48 %               -06940  13:47:00
 24  -0,23 %               -00028  13:47:00
 25  -0,19 %               -00024  13:47:00
 26        %  Абсолютное значение     Время
 27  -0,19 %               -00024  13:47:00
 28   0,01 %                00002  13:47:00
 29   0,28 %                00000  13:47:00
 30   0,16 %                00016  13:47:00
 31        %  Абсолютное значение     Время
 32  -0,13 %               -00336  13:47:00
 33  -0,02 %               -00039  13:45:00
 34  -0,19 %               -00470  13:47:00
 35  -0,36 %               -01152  13:47:00  ]